# python -m pip install --upgrade pip
streamlit==1.28.0
matplotlib==3.7.2
librosa==0.10.0.post2
numpy==1.24.3
torch==2.0.1
torchaudio==2.0.2
# RUN apt-get update && apt-get install -y portaudio19-dev
pyaudio==0.2.13
wave==0.0.2 